package views

templ Admin() {
    <div class="flex items-center">
        <button class="mt-5 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button" hx-post="/admin/reset" trigger="on click" hx-swap="none">
            Reset database
        </button>
    </div>
}