package partial

templ HeaderLoginRegisterComponent(title string){
    <header>
        <h1 class="mt-10 text-center text-3xl font-bold">
            GO + HTMX + TEMPL + TAILWIND
        </h1>
        
        <h2 class="mt-5 text-center text-3xl font-bold">
            { title }
        </h2>
    </header>
}